
@media (max-width: 599px) {
  .sidenav-container {
height: 100%;

}
mat-sidenav {
width: 200px;
background-color: #c5dcdc;
}
mat-toolbar-row {
display: flex;
justify-content: flex-end; /* align the items to the right on mobile devices */
padding: 30px;
color: black;
}

a {
  font-family: 'Lato';
color: black;
background-color: transparent;
margin: 0 10px;
}

a:hover {
color: black;
background-color: rgb(0, 128, 255); /* change the background color of the navbar items to gray when the mouse hovers over them */
}
}

// a {
//     color: black;
//     background-color: transparent;
//     margin: 0 10px;
//   }
  
//   a:hover {
//     color: black;
//     background-color: rgb(0, 128, 255); /* change the background color of the navbar items to gray when the mouse hovers over them */
//   }
  
//   mat-toolbar {
//     margin: auto;
//     padding: 0px;
//     display: flex;
//     align-items: center; /* center the items vertically */
//     border: 1px solid black; /* add a border to the navbar */
//     border-radius: 20px;
//     width: fit-content;
//   }
  
//   .custom-color {
//     // background-color: rgb(9, 214, 214);
//     background-color: transparent;
//   }
  
//   @media (max-width: 600px) {
//     a {
//       margin: 0;
//       text-align: center; /* center the text in the navbar items */
//       width: 100%; /* make the navbar items take up the full width of the screen */
//     }
//   }
// @media (max-width: 600px) {
//     .sidenav-container {
//         align-items:center;
//       height: 100%;
//     }
  
//     mat-sidenav {
//       width: 200px;
//     }
//   }

  
  a {
    background: none;
    font-size: 18px;
    color:white;
    background-color: transparent;
    margin: 0 10px;
  }
  
  a:hover {
    background: none;
    font-size: 18px;
    color: white;
    background-color:rgb(0, 128, 255); /* change the background color of the navbar items to gray when the mouse hovers over them */
  }
  
  
  mat-toolbar-row {
    justify-content: end;
    //size: 45px;
    align-content: flex-end;
      padding: 30px;
      color: white;
    }
    
    mat-toolbar {
      position: fixed;
      top: 80;
      left: 80;
      right: 0;
      z-index: 999;
      margin: auto;
      padding: 4px;
      display: flex;
      align-items: center; /* center the items vertically */
      //border: 1px solid black; /* add a border to the navbar */
      //border-radius: 20px;
      
    }
    .deskNavbar{
      display: flex;
      justify-items: end;
    }
  
      .custom-color {
    // background-color: rgb(9, 214, 214);
    background-color:rgb(71, 86, 107)
  }
    
      