<br>
<br>
<br>
<br>

  <p class="page1">EXPERIENCE<p>
<div class="center">
    <mat-card>
        <img mat-card-image src="../../assets/SkillsImages/mphasisLogo.jpg" alt="Mphasis logo">
        <br>
        <mat-card-title>Mphasis</mat-card-title>
        <p>Software Engineer - Level 3</p>
     
        <mat-card-content>
         <div>
          <ul>
            <li>
              <strong>Domain: </strong>Full Stack .NET Developer
            </li>
            <li>
              <strong>Tech: </strong>C#, Asp.NET MVC, Asp.NET Core, Asp.NET WebAPI, Angular, TypeScript, JavaScript, HTML,
              CSS, SQL
            </li>
          </ul>
         </div>
        </mat-card-content>
      </mat-card>
  </div>
