
<br>
<br>
<br>


<div class="container" [@fadeInOut]="isShown ? 'open' : 'close'">
  <p class="page1" style="font-weight: bold;font-size: 200%;">PROJECTS</p>
    <div class="row">
     
      <div class="col-6">
        <mat-card (click)="gotoVaccine()"> 
          <mat-card-header>
            <mat-card-title >Online Vaccine Management</mat-card-title>
          </mat-card-header>
          <mat-card-content><br>
            <ul>
                <li>
            <p>A Dynamic and Responsive Website for Covid Vaccine Slot Booking using <strong>ASP.NET MVC</strong> and <strong>ASP.NET WebAPI.</strong></p>
        </li>
        <li>
            <p><strong>Tech: </strong>C#, Asp.NET MVC, Asp.NET WebAPI, SQL, HTML, CSS, Bootstrap.</p>
        </li>
        </ul>
        <!-- <img [src]="imageUrls[currentIndex]" mat-card-lg-image /> -->
          </mat-card-content>
        
        </mat-card>
    
      </div>
      <div class="col-6">
        <mat-card (click)="gotoBot()">
            <mat-card-header>
              <mat-card-title>CryptoCurrency Price - Telegram Bot</mat-card-title>
            </mat-card-header>
            <mat-card-content><br>
              <ul>
                  <li>
              <p>A <strong>Telegram Bot </strong>for checking the price of <strong>CryptoCurrency.</strong> using TelegramCleint Package</p>
          </li>
          <li>
              <p><strong>Tech: </strong>C#, <strong>TelegramClient, BotFather,</strong> HttpClient,<strong> CoinGecko CryptoCurrency API.</strong></p>
          </li>
          
          </ul>
          <!-- <img [src]="imageUrls[currentIndex]" /> -->
            </mat-card-content>
          </mat-card>
      </div>
    
    </div>
    
  </div>
  <div class="centerCard" [@fadeInOut]="isShown ? 'open' : 'close'">
  <div class="col-6">
    <mat-card (click)="gotoBlog()">
        <mat-card-header>
          <mat-card-title>Blog Tracker Application</mat-card-title>
        </mat-card-header>
        <mat-card-content><br>
          <ul>
              <li>
          <p>A Dynamic and Responsive Blog Writing Website for Employees using <strong>ASP.NET MVC</strong> and <strong>ASP.NET WebAPI</strong></p>
      </li>
      <li>
          <p><strong>Tech: </strong>C#, Asp.NET MVC, Asp.NET WebAPI, SQL, HTML, CSS, Bootstrap</p>
      </li>
      </ul>
      <!-- <img [src]="imageUrls[currentIndex]" /> -->
        </mat-card-content>
      </mat-card>
  </div>
</div>
  
  