<br>
<br>
<br>

  <p class="page1" style="padding-left: 28%;">CONTACT<p>
<div class="page">
    <div class="page-image">
      <div><img src="../assets/Images/anandp.webp" alt="Your Picture"></div>
      <div class="cenDiv">
   
        <a mat-button class="linkIcon" href="https://www.linkedin.com/in/ananth-balamurugan/" target="_blank">
            <mat-icon class="icon" svgIcon="Experience" ></mat-icon>LinkedIn
        </a>
      
         <a  mat-button class="linkIcon"  href="https://github.com/ANANTH4004" target="_blank" >
            <mat-icon class="icon" [svgIcon]="'github'"></mat-icon>GitHub
        </a>
   
         <a  mat-button class="linkIcon"  href="mailto:balamuruganananth@gmail.com" target="_blank" >
            <mat-icon>mail</mat-icon>balamuruganananth@gmail.com
        </a>
      
      </div>
    </div>
    <div class="page-content">
      <mat-card class="no-background" style="height: 500px; width: 800px; background-color:transparent;background: none; border-radius: 40px;">
        <div class="form-container">
            <form (ngSubmit)="onSubmit()">
              <div class="form-row" >
                <div class="form-group ">
                  <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Name" required>
                </div>
                <div class="form-group ">
                  <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Subject" required>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" [(ngModel)]="message" name="message" placeholder="Type Your Message Here.." required></textarea>
              </div>
              <div class="form-group" style="justify-content: center;display: flex;">
                <button style="font-size: larger;width: 200px;" type="submit" class="btn btn-primary">SEND</button>
              </div>
            </form>
          </div>
      </mat-card>
    </div>
  </div>
  