<br>
<br>
<br>

  <p class="page1">SKILLS<p>
  <div class="container"> 
    <mat-card (mouseenter)="hovered = true" (mouseleave)="hovered = false">
    <mat-card-header class="cardHeader">
      <mat-card-title>Angular</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img style="height: 170px;" src="../../assets/SkillsImages/angularp.png">
    </mat-card-content>
   <mat-card-footer>
    <div class="progress-container">
      <progress ></progress> 
    </div>
    <h2 style="display:inline;padding-left:3%;">80%</h2>
     </mat-card-footer>
  </mat-card>  
  <mat-card>
    <mat-card-header class="cardHeader">
     
      <mat-card-title>C#</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img style="height: 170px;" src="../../assets/SkillsImages/cdnlogo.com_c-sharp.png" mat-card-lg-image />
    </mat-card-content>
    <mat-card-footer>
      <div class="progress-container">
        <progress ></progress> 
      </div>
      <h2 style="display:inline;padding-left:3%;">80%</h2>
       </mat-card-footer>
  </mat-card>
  
  <mat-card>
    <mat-card-header class="cardHeader">
      <mat-card-title>.NET</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/SkillsImages/NET_Core_Logo.svg.png" mat-card-lg-image/>
    </mat-card-content>
    <mat-card-footer>
      <P style="font-weight: bold;">ASP.NET CORE | ASP.NET MVC | ASP.NET WebAPI</P>
    </mat-card-footer>
  </mat-card>
</div>

<div class="container"> 
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>HTML,CSS and JS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/HTMLCSSJS.png" mat-card-image width="250px" />
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>TypeScript</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       <img src="../../assets/SkillsImages/types.png" mat-card-lg-image />
      </mat-card-content>
      <mat-card-footer>
        <div class="progress-container">
          <progress ></progress> 
        </div>
        <h2 style="display:inline;padding-left:3%;">80%</h2>
         </mat-card-footer> 
    </mat-card>
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>SQL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <img src="../../assets/SkillsImages/logo-mysql-26344.png" mat-card-lg-image />
      </mat-card-content>
    </mat-card>
  </div>
    
<div class="container">
     <mat-card >
      <mat-card-header class="cardHeader">
        <mat-card-title>MongoDB</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       <img src="../../assets/SkillsImages/mongodb.png"  mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
    
    <mat-card >
      <mat-card-header class="cardHeader">
        <mat-card-title>C++</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/c++.png"  mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>Java(Basics)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/java-logo-1.png" mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
  </div>

     
     