
<br>
<br>
<br>
<p class="page1">SKILLS<p>
        <div class="parent"> 
           
<div class="child">
       
                <circle-progress class="circle__progress"
                         [percent]="80"
                         [radius]="100"
                         [animation]="true"
                         [animationDuration]="1000"
                         [startFromZero]="true"
                         [showInnerStroke]="true"
                         [titleFontSize]="'30'"
                         [titleFontWeight]="'900'"
                         [outerStrokeColor]="'white'"
                         [unitsFontSize]="'0'"
                         [unitsFontWeight]="'900'"
                         [title]="'C#'"
                         [subtitle]="'80%'"
                         [subtitleFontSize]="'20'"
                         [subtitleFontWeight]="'900'"
                         [lazy]="false"
        ></circle-progress>

</div>
<div class="child" style="font-size: medium;">
                <circle-progress class="circle__progress"
                [percent]="80"
                [radius]="100"
                [animation]="true"
                [animationDuration]="1000"
                [startFromZero]="true"
                [showInnerStroke]="true"
                [titleFontSize]="'28'"
                [titleFontWeight]="'900'"
                [unitsFontSize]="'0'"
                [unitsFontWeight]="'900'"
                [title]="'.NET FRAMEWORK'"
                [titleFontSize]="'21.5'"
                [subtitle]="'80%'"
                [subtitleFontSize]="'20'"
                [subtitleFontWeight]="'900'"
                [lazy]="false"
                         
                         
        ></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="75"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'ANGULAR'"
        [subtitle]="'75%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>


<div class="child">
        <circle-progress class="circle__progress"
        [percent]="80"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'TypeScript'"
        [subtitle]="'75%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
        [animateSubtitle]="true"
></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="90"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'HTML'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="90"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'CSS'"
        [subtitle]="'90%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>
<div class="child" style="font-size: medium;">
        <circle-progress class="circle__progress"
        [percent]="80"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'Bootstrap'"
        [subtitle]="'80%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
                 
                 
></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="70"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'JavaScript'"
        [subtitle]="'70%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="80"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'SQL'"
        [subtitle]="'75%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>
<div class="child">
        <circle-progress class="circle__progress"
        [percent]="60"
        [radius]="100"
        [animation]="true"
        [animationDuration]="1000"
        [startFromZero]="true"
        [showInnerStroke]="true"
        [titleFontSize]="'28'"
        [titleFontWeight]="'900'"
        [unitsFontSize]="'0'"
        [unitsFontWeight]="'900'"
        [title]="'MongoDB'"
        [subtitle]="'60%'"
        [subtitleFontSize]="'20'"
        [subtitleFontWeight]="'900'"
        [lazy]="false"
></circle-progress>
</div>
 </div>
        
                
          
        <!-- <mat-card>
          <mat-card-content>
            <img style="height: 170px;" src="../../assets/SkillsImages/cdnlogo.com_c-sharp.png" mat-card-lg-image />
          </mat-card-content>
          
        </mat-card>
        
        <mat-card>
          <mat-card-header class="cardHeader">
            <mat-card-title>.NET</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img src="../../assets/SkillsImages/NET_Core_Logo.svg.png" mat-card-lg-image/>
          </mat-card-content>
          
        </mat-card>
        <mat-card>
                <mat-card-header class="cardHeader">
                  <mat-card-title>.NET</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img src="../../assets/SkillsImages/NET_Core_Logo.svg.png" mat-card-lg-image/>
                </mat-card-content>
                
              </mat-card> -->
       