

<app-rnavbar></app-rnavbar>
<!-- <app-home></app-home
  <app-snavbar></app-snavbar>
  
  <app-navbar></app-navbar>
  > -->
<!-- <div class="page">
    <div class="page-image">
      <div><img src="../assets/Images/anandp.webp" alt="Your Picture"></div>
      <div class="cenDiv">
        <span>
        <a mat-button class="linkIcon" href="https://www.linkedin.com/in/ananth-balamurugan/" target="_blank">
            <mat-icon class="icon" svgIcon="Experience" ></mat-icon>LinkedIn
        </a>
      </span>
      <span>
         <a  mat-button class="linkIcon"  href="https://github.com/ANANTH4004" target="_blank" >
            <mat-icon class="icon" [svgIcon]="'github'">assignment</mat-icon>GitHub
        </a>
      </span>
      </div>
      
      
      
    </div>
   
    <div class="page-content">
      <mat-card style="height: 500px;;">
        <mat-card-header>
          <mat-card-title>Hi I am <strong>Ananth B</strong></mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <p class="tw"  style="font-size: 24px; font-family: cambria;font-stretch: narrower;">
            I am a <strong> software developer </strong> -->
             <!-- currently working at Mphasis Limited. I have been working in the field of software 
             development for [number] years and have a strong foundation in [technical skills or 
             technologies you have experience with].
              I am passionate about creating high-quality software solutions and constantly strive to learn 
              and improve my skills. In my current role at Mphasis,
               I have had the opportunity to work on a variety of projects and have gained 
               valuable experience in [specific areas or technologies you have worked with].
            In my free time, I enjoy [hobbies or interests] and am always looking for new 
            challenges and opportunities to grow as a developer.
             I am excited to share some of my past projects and experiences with you through this portfolio 
             and hope to have the opportunity to work with you in the future." -->
            
          <!-- </p>
          <br>
          <div class="divCen"> 
            <a mat-raised-button color="primary">Hire Me
          </a> 
          &nbsp;  
            <a mat-raised-button color="primary" href="../assets/2528817-ANANTH B-Resume.pdf" download="AnandCv.pdf">Download CV
            </a>
          </div>
        </mat-card-content>
       
      </mat-card>
      
    </div>
  </div> -->
  
 <router-outlet></router-outlet>
 