 <br>
<br>
<br>
  <h1 class="page1">ABOUT ME</h1>
<div class="page">
  <div class="page-image">
    <div>
      <img src="../../assets/SkillsImages/anand.png" alt="Your Picture">
    </div>
    <div class="cenDiv">
      <span>
        <a mat-button class="linkIcon" href="https://www.linkedin.com/in/ananth-balamurugan/" target="_blank">
          <mat-icon class="icon" svgIcon="Experience">assignment</mat-icon>LinkedIn
        </a>
      </span>
      <span>
        <a mat-button class="linkIcon" href="https://github.com/ANANTH4004" target="_blank">
          <mat-icon class="icon" svgIcon="github">assignment</mat-icon>GitHub
        </a>
      </span>
    </div>
  </div>
  <div class="page-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Hi{{emoji}}! &nbsp;I'm <strong style="font-size:x-large;">Ananth B</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 20px; font-family:lato;font-weight: bold;"><span class="tw" ></span><span class="type-text"></span></p>
        <div class="divCen" align="start">
          <a mat-raised-button color="primary" routerLink="/contact">Hire Me</a>
          &nbsp;
          <a mat-raised-button color="primary" href="../assets/2528817-ANANTH B-Resume.pdf" download="AnandCv.pdf">Download CV</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
